<%= render 'layouts/scripts' %>

<body class="registerBody">

    <%= render partial: "layouts/navbar", locals: {tab: :membership} %>

    <form id="registrationForm" class="registerForm" action="/register" method="POST">
        <div class="register-calasa">
            <%= link_to image_tag("oski.jpg", class: "oskiIMG") %>
        </div>
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <div class="mb-3">
            <label for="nameField" class="labelField form-label">Full Name</label>
            <div class="input-group has-validation">
                <input type="text" class="inputField w-100 form-control" id="nameField" aria-describedby="emailHelp"
                    placeholder="John Doe" name="user[name]">
            </div>
        </div>

        <div class="mb-3">
            <label for="emailField" class="labelField form-label">Email address</label>
            <div class="input-group has-validation">
                <input type="email" class="inputField w-100 form-control" id="emailField" aria-describedby="emailHelp"
                    placeholder="john@berkeley.edu" name="user[email]">
            </div>
        </div>
        <div class="mb-3">
            <label for="passwordField" class="labelField form-label">Password</label>
            <div class="input-group has-validation">
                <input type="password" class="inputField w-100 form-control" id="passwordField"
                    placeholder="please use a reasonbaly long password" name="user[password]">
            </div>
        </div>
        <div class="mb-3">
            <label for="confirmField" class="labelField form-label">Confirm Password</label>
            <div class="input-group has-validation">
                <input type="password" class="inputField w-100 form-control" id="confirmField"
                    placeholder="not that long to forget" name="user[confirm_password]">
            </div>
        </div>

        <button id="signupSubmit" type="submit" class="w-100 btn btn-lg btn-custom-dark">Register</button>
    </form>

    <div class="container" id="footer">
        <hr class="my-4 hr-dark">

        <div class="footer-copyright text-center py-3">
            <div class="copyright-dark">
                <p><strong>© 2021 Cal ASA</strong></p>
            </div>
        </div>
    </div>

</body>
