// Place all the styles related to the Fundraisers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.fundraiser-container {
    margin-top: 3%;
    margin-bottom: 3%;
}
.upload-image {
    float: right;
}

.fundraiserIMG {
    width: 100%;
}

.fundraiser-each-container {
    // z-index: 0;
    margin: 3% 5%;
}

.fundraiser-each-container a {
    text-decoration: none !important;
}

.fundraiser-each-container:hover {
    background-color: #F8F8F8;
}

.fundraiser-for-each-container {
    margin: 3% 5%;
}

.fundraiser-link {
    z-index: 10;
}


.donation-group {
    margin-bottom: 3%;
}

.sharing-group {
    margin-bottom: 3%;
}

.sharing-buttons {
    text-align: center;
}

.donate {
    margin-right: 2%;
    margin-left: 2%;
}

.share {
    margin-right: 2%;
    margin-left: 2%;
    border-width: 1px;
    border-color: black;
}

.share:hover {
    border-width: 1px;
    border-color: black;
}

.back-container {
    margin-top: 3%;
    font-size: 22px;
}

.back-anchor {
    text-decoration: none;
}

.edit-btn {
    float: right;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 2%;
}

.delete-btn {
    float: right;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 2%;
}

#footer {
    clear: both;
 }

 .footer-copyright {
     text-align: center;
 }


