// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@media (max-width: 768px) {
    .navbar ul li a {
        text-align: center;
    }

    .sign-out-container {
        margin-right: 0;
        text-align: center;
    }

    .sign-in-container {
        margin-right: 0;
        text-align: center;
    }
}