<div class="container" id="footer">
    <hr class="my-4">

    <div class="footer-copyright text-center py-3">
        <div class="socials">
            <a href="https://www.instagram.com/cal_asa/"> <%= image_tag("instagram.png", class: "socialLink") %></a>
            <a
                href="https://www.facebook.com/UCBerkeleyASA/"><%= image_tag("fb-dark.png", class: "socialLink")%></a>
            <a href="mailto:calberkeleyasa@gmail.com"><%= image_tag("email.png", class: "socialLink")%></a>
        </div>
        <div class="copyright">
            <p>© 2022 Cal ASA</p>
        </div>

    </div>
</div>